
*{
	margin: 0;
	padding: 0;
	}
.Head
{
	background-image: url("../img/academy-banner.jpg");
	height: 100vh;
	text-align: right;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.Head .sub1{
	position: absolute;
	right: 0;
	bottom:35%;
	padding-right: 150px;
	width: 40%;
}
.sub1 h1{
	font-size: 60px;
	padding: 30px 0 30px 30px;

}
.secondsection{
	height: 200px;

}
.subcontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;

}
.subdiv{
	background-color: #000;
	color: cyan;
	width: 40%;
	position: absolute;
	right:30%;
	top: 20%;
	left: 40%;
	padding: 40px;


}
.subcontainer img{
	margin-left: 100px;
	margin-top: 40px;

}
.subdiv h2{
	font-size: 25px;
	padding: 20px;	

}
.subdiv h2::before{
	content: "{ ";
	color: #f00;

}
.subdiv h2::after{
	content: "}";
	color: #f00;

}
.secondsection p{
	font-size: 25px;
	text-align: center;
	padding: 35px 100px;

}
.thirdsection{
	background-image: url("../img/modulebg.jpg");
	height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}
.thirdsection p{
	background-color: rgba(0,0,0,0.5);
	font-size: 20px;
	color: #fff;
	padding: 15px 50px;
	margin-bottom: 50px;
	border-radius: 10px;

}
.fourthsection{
	height: 20vh;
	font-size: 25px;
	padding: 60px 200px;
	text-align: center;
}
.fifthsection{
	height: 50vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;


}
.fifthsection .sec1{
	width: 50%;
	background-image: url("../img/testsbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.fifthsection .sec2{
	width: 50%;
	background-image: url("../img/intrvwbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sec1,.sec2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

}
.sec1 div,.sec2 div{
	background-color: rgba(0,0,0,0.6);
	width: 90%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
.sec1 p,.sec2 p{
	padding-left: 15%;
	padding-right: 15%;
	color: #fff;
	font-size: 25px;
	text-align: center;
}
.sixthsection{
	height: 100vh;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-content: center;*/
}
.sixthsection .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 100px;

}
.sixthsection .row1{


}
.sixthsection h1{
	font-size: 40px;
	margin: 100px;
}
.sixthsection a{
	border: 4px solid #f26422;
	padding: 20px;
	text-decoration: none;
	font-size: 22px;
	color:#f26422;
}
.col h2{
	padding-bottom: 20px;
}
.col p{
	font-size: 18px;
}
@media only screen and (max-width: 600px) {
body{
	
	height: auto;
	
}
.Head{
	background-image: none;
	background-color: red;
	height: 200vh;
	text-align: center;
	position: relative;
	font-size: 20px;
	width: 350px;

}
.Head .sub1{
	position: absolute;
	left: 10px;
	bottom:28%;
	padding-right: 30px;
	width: 50%;
}

.sub1 h1{
	
	font-size: 30px;
	margin-left: 40px;
	position: relative;
	top: 90px;
	/*padding: 30px 0 30px 30px;*/

}
	
	/*padding: 20px 0 10px 10px;*/

}
.sub1 img{
	position: relative;
	top: 100px;
	margin-left: 60px;
	width: 170px;
	display: flex;
	text-align: right;

}	
.secondsection{
	height: auto;
	display: flex;

	margin-top: 200px;
	flex-wrap: wrap;
	display: block;

}
.subcontainer{
	display: flex;
	display: block;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	height: 120vh;
	

}
.subdiv{
	background-color: #000;
	color: cyan;
	width: 65%;
	font-size: :30px;
	position: absolute;
	right:30%;
	top: 50%;
	left: 10%;
	padding: 30px;
	
}
.subcontainer img{
	margin-left: 10px;
	position: absolute;
	top: 30px;
	margin-bottom: 20px
	width: 200px;
	height: 300px;

}
.subdiv h2{
	font-size: 20px;
	padding: 5px;
	

}
.subdiv h2::before{
	content: "{ ";
	color: #f00;

}
.subdiv h2::after{
	content: "}";
	color: #f00;

}
.secondsection p{
	font-size: 22px;
	text-align: center;
	padding: 45px 40px;
	bottom: 30px;

}
.thirdsection{
	background-image: url("../img/modulebg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	
}
.thirdsection div{
	width: 40%;

}
.thirdsection p{
	background-color: rgba(0,0,0,0.5);
	font-size: 10px;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 5px;

}
.fourthsection{
	height: auto;
	font-size: 15px;
	padding: 40px 60px;
	text-align: center;
}
.fourthsection  
{
	font-size: 22px;
}
.fifthsection{
	height: 100vh;

}
.fifthsection .sec1{
	width: 100%;
	background-image: url("../img/testsbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.fifthsection .sec2{
	width: 100%;
	background-image: url("../img/intrvwbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.sec1,.sec2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

}
.sec1 div,.sec2 div{
	background-color: rgba(0,0,0,0.6);
	width: 80%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
.sec1 p,.sec2 p{
	padding-left: 10%;
	padding-right: 10%;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.sixthsection{
	height: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-content: center;*/
}
.sixthsection .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 40px;

}

.row div{
	padding: 20px;
}
.sixthsection h1{
	font-size: 25px;
	margin: 50px;
}
.sixthsection a{
	border: 4px solid #f00;
	padding: 20px;
	text-decoration: none;
	font-size: 22px;
	color:#00f;
}
.col h2{
	padding-bottom: 20px;
}
.col p{
	font-size: 18px;
}
}
